<div class="statisticsBox">

    <span class="backButton" id="backToReactor">返回工厂</span>

    <header class="screenHeader compact"><div><span>生产遥测</span><h1>运行统计</h1></div></header>
    <h2>支出</h2>
    <table>
        <tr>
            <td>设施</td>
            <td>数量</td>
            <td>平均效率</td>
            <td>运行成本</td>
            <td>采购支出</td>
        </tr>
    </table>


    <h2>收入</h2>
    <table>
        <tr>
            <td>设施</td>
            <td>数量</td>
            <td>平均效率</td>
            <td>销售收入</td>
        </tr>
    </table>

    <h2>资源</h2>
    <table>
        <tr>
            <td>资源</td>
            <td>累计产量</td>
        </tr>
    </table>

    <div class="graph" style="height:900px;"></div>

</div>
