game.dstopology.com {
	encode zstd gzip

	redir /life /life/ 308
	handle_path /life/* {
		reverse_proxy 127.0.0.1:3101
	}

	redir /billiards /billiards/ 308
	handle_path /billiards/* {
		reverse_proxy 127.0.0.1:3102
	}

	redir /foundry /foundry/ 308
	handle_path /foundry/* {
		reverse_proxy 127.0.0.1:3104
	}

	redir /snake /snake/ 308
	handle_path /snake/* {
		reverse_proxy 127.0.0.1:3103
	}

	handle {
		reverse_proxy 127.0.0.1:3100
	}
}
