<div class="controlsBox">
    <div class="simulationControls">
        <a href="javascript:void(0);" class="button stopButton" id="stopButton" title="暂停模拟">暂停</a>
        <a href="javascript:void(0);" class="button playButton" id="playButton" title="继续模拟">继续</a>
        <a href="javascript:void(0);" class="button playFastButton" id="playFastButton" title="消耗加速步数">加速</a>
        <a href="javascript:void(0);" class="button playNormalButton" id="playNormalButton" title="恢复正常速度">常速</a>
    </div>
    <div class="maintenanceControls">
        <a href="javascript:void(0);" id="clearPackages" class="button clearPackagesButton">清空传送带</a>
        <a href="javascript:void(0);" id="resetFactory" class="button resetFactoryButton">重置布局</a>
    </div>
    <div id="bonusTicks" class="bonusTicks">加速储备 <span></span></div>
</div>
